div.error-wrapper {
  margin-top: 80px;
}
div.error-wrapper h2 {
  font-size: 4em;
}
div.error-wrapper__404 {
  margin-top: 80px;
  text-align: center;
}
div.error-wrapper__404 span {
  font-size: 12em;
}
div.error-wrapper__back-to-home {
  margin-top: 70px;
}
div.error-wrapper__back-to-home p {
  font-size: 3em;
}
div.error-wrapper__back-to-home p a {
  color: $tundora;
  &:hover {
    text-decoration: underline;
  }
}