div.to-dos-wrapper {
  display: flex;
  flex-wrap: wrap;
}
div.to-dos-wrapper__to-dos,
div.to-dos-wrapper__progress-circle {
  flex: 50%;
}
div.to-dos-wrapper__to-dos h2 {
  margin-bottom: 15px;
}
div.to-dos-wrapper__to-dos-block > p{
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 15px;
}
li.to-dos-wrapper__list-item {
  width: 80%;
  background: $bali-hai;
  padding: 20px;
  margin: 0 auto 12px;
  border-radius: 5px;
  color: white;
  border: 1px solid $fiord;
  transition: background .3s ease;
  &:hover {
    background: $shuttle-gray;
  }
}
li.to-dos-wrapper__list-item--active {
  background: $shuttle-gray;
}
li.to-dos-wrapper__list-item p {
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
}
span.to-dos-wrapper__list-item-todo {
  flex: auto;
}
i.to-dos-wrapper__list-item-checkbox {
  opacity: 0;
  display: inline-block;
  text-align: right;
  margin-right: 30px;
  font-size: 1.2em;
  color: white!important;
  transition: opacity .2s ease;
  flex: auto;
}
i.to-dos-wrapper__list-item-checkbox--active {
  opacity: 1;
}
input.to-dos-wrapper__list-item-checkbox {
  margin-right: 20px;
}
div.to-dos-wrapper__no-todos p {
  text-align: center;
}

@media screen and (max-width: 680px) {
  div.to-dos-wrapper__to-dos,,
  div.to-dos-wrapper__progress-circle {
    flex: 100%;
  }
}



