/******base styles******/
* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
  min-height: 100%;
  background: $serenade; 
  @include font-smoothing();
}
body {
  font-size: 100%;
  color: $tundora;
  font-family: $lato;
  font-weight: 300; 
}
h1 {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2em; 
  font-weight: 500;
  color: white;
}
h2 {
  margin-top: 30px;
  margin-bottom: 30px; 
  text-align: center;
  font-size: 1.6em;
  font-weight: 500;
}
p {
  font-size: 1.2em;
  line-height: 26px;
}
header{
  width: 100%; 
  padding: 10px 0px;
  background: $sandrift;
}
div.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 0px;
}
div.content {
  padding: 0px 20px 40px;
  padding-bottom: 40px;
  flex: 1;
}
footer{
  width: 100%; 
  padding: 10px 0px;
  background: $sandrift;
}
footer p {
  color: white;
  text-align: center;
  padding: 5px;
}
