div.circle-progress-wrapper__circle {
  margin-top: 30px;
}
div.circle-progress-wrapper__circle canvas{
  display: block;
  margin: 0 auto;
}
div.circle-progress-wrapper__complete-todos-list li,
div.circle-progress-wrapper__all-todos-completed p {
  margin-top: 6px;
  text-align: center;
}
div.circle-progress-wrapper__all-todos-completed p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.3em;
}
div.circle-progress-wrapper__all-todos-completed {
  color: $sea-green;
  font-weight: 500;
}