div.todos-list-wrapper__todos li,
div.todos-list-wrapper__all-todos-completed p {
  margin-top: 6px;
  text-align: center;
}
div.todos-list-wrapper__all-todos-completed p {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.7em;
}
div.todos-list-wrapper__all-todos-completed {
  color: $sea-green;
  font-weight: 500;
}
div.to-dos-wrapper__progress-circle {
  div.circle-progress-wrapper,
  div.circle-progress-wrapper__circle,
  div.circle-progress-wrapper__circle canvas {
    display: block;
  }
}


