div.to-dos-wrapper {
  display: flex;
  flex-wrap: wrap;
}
div.to-dos-wrapper__to-dos,
div.to-dos-wrapper__progress-circle {
  flex: 50%;
}
li.to-dos-wrapper__list-item {
  background: $bali-hai;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
}
