div.to-dos-wrapper {
  display: flex;
  flex-wrap: wrap;
}
div.to-dos-wrapper__to-dos,
div.to-dos-wrapper__progress-circle {
  flex: 50%;
}
div.to-dos-wrapper__to-dos h2 {
  margin-bottom: 15px;
}
div.to-dos-wrapper__to-dos > p{
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 15px;
}
li.to-dos-wrapper__list-item {
  background: $bali-hai;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
}
li.to-dos-wrapper__list-item p {
  font-size: 1.3em;
}
div.to-dos-wrapper__no-todos p {
  text-align: center;
}
