<div class="circle-progress-wrapper">
  <h2>This is your progress</h2>
  <div id="circle" class="circle-progress-wrapper__circle"></div>
  <div class="circle-progress-wrapper__complete-todos-list" ng-if="completedTodos.length">
    <h3>Completed to-dos</h3>
    <ul>
      <li ng-repeat="todo in completedTodos track by $index">
        <p>{{ $index + 1 }}. {{ todo.item }} <i class="fa fa-check" aria-hidden="true"></i></p>
      </li>
    </ul>
    <div class="circle-progress-wrapper__all-todos-completed" ng-if="completedTodos.length === 6">
      <p>Congrats, you completed all your to-dos!</p>
    </div>
  </div>
</div>