<div class="to-dos-wrapper">
  <div class="to-dos-wrapper__to-dos">
    <div class="to-dos-wrapper__to-dos-block" ng-if="!home.error && home.todos">
      <h2>These are 6 out of 10 to-dos you can complete today.</h2>
      <p>
        <a ng-click="home.fetchTodos(); home.resetTodos = !home.resetTodos;">Click</a> if you wish to refresh this list.
      </p>
      <ul class="to-dos-wrapper__list">
        <li class="to-dos-wrapper__list-item" 
            ng-repeat="todo in home.todos"
            ng-class="todo.active ? 'to-dos-wrapper__list-item--active' : ''"
            ng-click="home.todoItem = todo; todo.active = !todo.active;"
            ng-model="home.todoItem">
          <p>
            <input type="checkbox" 
                   class="to-dos-wrapper__list-item-checkbox"
                   ng-model="todo.active" 
                   ng-click="$event.stopPropagation(); home.todoItem = todo;"/> 
                   {{ todo.item }}
            <i class="fa fa-check to-dos-wrapper__list-item-checkbox" 
               ng-class="todo.active ? 'to-dos-wrapper__list-item-checkbox--active' : ''" 
               aria-hidden="true"></i>
          </p>
        </li>
      </ul>
    </div>
    <div class="to-dos-wrapper__no-todos" ng-if="!home.error && home.noTodosMsg">
      <p class="h2">{{ home.noTodosMsg }}</p>
    </div>    
    <div class="to-dos-wrapper__error" ng-if="home.error">
      <p class="h2">{{ home.error }}</p>
    </div>
  </div>
  <div class="to-dos-wrapper__progress-circle">
    <h2>This is your progress</h2>
    <circle-progress-directive size="{{ home.circleOptions.size }}" 
                               thickness="{{ home.circleOptions.thickness }}"
                               gradient="home.circleOptions.fill.gradient"
                               todo="home.todoItem"
                               reset-todos="home.resetTodos">
    </circle-progress-directive>
    
    <todo-list-directive></todo-list-directive>
  </div>
</div>

